name: CI/CD for Go projects
description: "CI/CD for Go projects"

on:
  workflow_call:
    inputs:
      go-version:
        description: "Go version to use"
        required: false
        type: string
        default: "1.24"
    secrets:
      app_id:
        description: "GitHub App ID"
        required: true
      app_private_key:
        description: "GitHub App private key"
        required: true
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Get GitHub App Token
        id: app-token
        uses: kolosys/.actions/setup/get-token.yml@main
        with:
          app-id: ${{ secrets.app_id }}
          private-key: ${{ secrets.app_private_key }}

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}
